@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.player-wrapper {
  width: 300px;
  height: 200px;
  background-color: #cdd1d0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-count-wrapper {
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.incrementer-wrapper {
  position: relative;
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 1s 0.5s;
}
.incrementer-wrapper:active {
  background-color: #b1eae4;
  transition: 0s;
}

.score-wrapper {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70px;
}

.lost-button-wrapper {
  display: flex;
  position: absolute;
  z-index: 2;
  align-items: end;
}

.lost-button {
  position: absolute;
  width: fit-content;
  top: 70px;
  padding: 5px 13px;
  font-size: medium;
  background-color: #7dcfc6;
  color: #ffffff;
}

.score {
  position: relative;
  top: 0px;
}

.player-picker-button:focus {
  background-color: #a59975;
}

.life-counter-player-name {
  top: -55px;
  position: absolute;
  font-size: 1rem;
}
