.player-wrapper {
  width: 300px;
  height: 200px;
  background-color: #cdd1d0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-count-wrapper {
  width: 300px;
  height: 200px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.incrementer-wrapper {
  position: relative;
  width: 150px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: 1s 0.5s;
  color: black;
  font-size: x-large;
}

.incrementer-wrapper:active {
  background-color: #b1eae4;
  transition: 0s;
}

.score-wrapper {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70px;
  color: black;
}

.lost-button-wrapper {
  display: flex;
  position: absolute;
  z-index: 2;
  align-items: end;
}

.lost-button {
  position: absolute;
  width: fit-content;
  top: 70px;
  padding: 5px 13px;
  font-size: medium;
  background-color: #7dcfc6;
  color: #ffffff;
}

.game-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  height: 80vh;
  width: 80vw;
  padding: 10px;
  gap: 10px;
  align-items: center;
}

.score {
  position: relative;
  top: 0px;
  font-size: xx-large;
}

.life-counter-player-name {
  top: -55px;
  position: absolute;
  font-size: 1rem;
}

.lose-text {
  font-size: x-large;
  color: red;
}
